[2015-02-19 15:06] nresare opened #28 "MemcacheClientBuilderTest tests fails to connect to embedded memcached"
Running the tests in MemcacheClientBuilderTest stalls trying to reconnect to a server that doesn't answer with exponential backoff on my OSX machine. I would assume that the tests work on travis-ci due to the system memcached.

[2015-02-19 15:07] nresare commented on #28
Ah, dynamic ports! PR coming up.

[2015-02-19 15:30] #28 closed, assigned to nobody

[2015-02-20 15:52] spkrka opened #34 "Maximum value size"
For set operations, should we do something special to respect maximum value size? Or should we just send it anyway and rely on the failure we get back?

[2015-02-26 19:11] spkrka opened #40 "Feature request: customizable node locators for ketama"
It would be nice to be able to tweak the actual node location logic in the ketama setup (hash key to integer, hash machines + node number to virtual nodes in a ring, et.c.) to make it easier to be compatible with other ketama implementations (such as spymemcached). This would make a lot of transitions easier.

[2015-02-26 19:14] spkrka opened #41 "Feature request: optimize cancelled requests"
If a request is cancelled there are two things we can optimize:
1) if it's cancelled before it's actually written to the network socket, we can skip doing that.
2) if it's cancelled by the time we get a reply, we can skip parsing the reply (though that's a fairly small gain)

[2015-02-26 19:57] protocol7 commented on #40
I got a branch somewhere where I refactored out a hasher interface for this exact purpose. When I get the cycled I can dig it up.

[2015-03-06 02:01] mattnworb opened #43 "If the memcache server stops responding to requests, the outstanding requests in the client are never cleared"
The other day we had a memcache server (single host) suddenly power off with a bunch of clients connected using Folsom.

After bringing that host back online hours later, I noticed that all of the existing clients that were connected before the power-off were unable to successfully send new requests to the server that was now online - all of the clients that were connected to the server previously

[2015-03-06 02:05] mattnworb commented on #43
Btw the way in which I am trying to reproduce "a request is sent but just never gets a response" might be totally invalid, I wasn't really sure how to recreate that when testing with a memcache daemon on localhost since I didn't want the client to get a connection reset from the OS by closing the serverSocket down (since in my case there was no OS to send reset packets back on the other side). I a

[2015-03-06 09:10] spkrka commented on #43
What version of folsom were you using? Without knowing this, debugging is pretty much impossible.

With the latest master (and 0.6.1) I expect this to happen:
The memcached server stops responding - which would lead to the timeout checker to kill the connection (or the memcached server breaks the tcp connection directly). All pending requests should immediately fail with MemcacheClosedException. A

[2015-03-06 10:15] danielnorberg commented on #43
Maybe we could try reproing this using `SIGSTOP`?

[2015-03-06 10:23] spkrka commented on #43
Hm, maybe this bugfix is important enough to justify a new release:
https://github.com/spotify/folsom/commit/47f98268755d3488dbdd72d7e130bb2ce72ff2eb

[2015-03-06 10:25] spkrka commented on #43
Also, DefaultRawMemcacheClient doesn't check if it's closed in its send.
Does that mean that we don't get the failure callback in the call to:
channel.write(request, new RequestWritePromise(channel, request)); ?

Or maybe it just means that we don't actually decrement the counter from that codepath.

@danielnorberg - That seems like your area of expertise :)

[2015-03-06 10:55] spkrka commented on #43
I guess it's not really a big problem if a disconnected client keeps failing with overloaded instead of closed (but that should be fixed too), the problem in this case was probably that it failed to reconnect, which is probably related to the bugfix in master (but we'll need to verify that)

[2015-03-06 12:02] danielnorberg commented on #43
Writing on a closed channel always fails.

[2015-03-06 12:43] mattnworb commented on #43
0.6.1.

[2015-03-06 12:50] spkrka commented on #43
@danielnorberg Right, so we increment pending, then write the request which immediately fails, but then we never decrement pending.

[2015-03-06 12:56] mattnworb commented on #43
I am not 100% sure yet but I think what happened in my case was that the memcached server never broke the connection. I am going to go back through the logs from when this happened to see if requests were getting MemcacheClosedException during the downtime or something else. I also will try to look into creating a test that better reproduces what I saw.

[2015-03-06 15:07] mattnworb commented on #43
**Huge apologies** but after double-checking our logs again it turns out I misread / misremembered them - after the memcached host came back online, we were not actually get folsom MemcacheOverloadedException as originally claimed but instead a "too many outstanding requests" exception from a downstream service (which we only call on cache misses in memcache).

Really sorry for the false alarm.

I

[2015-03-06 15:09] spkrka commented on #43
While the original report may be incorrect, I still think there might be some more things worth investigating, so I suggest leaving it open for now.

[2015-03-30 21:34] rgruener commented on #43
I just saw this issue come up with one of our services in production. Basically at some point we hit the too many outstanding requests limit within folsom and the folsom client basically just died. It seems like the request queue just never flushes once it hits the limit. During this time, folsom seems to eat up a ton of resources causing my service to return 503's for a brief amount of time. Even

[2015-03-31 15:40] spkrka commented on #43
Thanks for the report, we should investigate further. One known problem is that we never decrement the pending counter for some types of failed requests (failed writes), but since a failed write only happens if it disconnects, I didn't think that was important enough to fix.

I am on parental leave now, but I will take a look when I get back to work next week.

@danielnorberg Maybe this is somethi

[2015-04-01 01:45] danielnorberg commented on #43
Sounds bad. Would be nice if we had some way to reproduce it. I'll take a stab at putting together a repro by connecting a client to a memcached mockup, hit the outstanding request limit and then verify that it can recover.

[2015-04-01 11:19] mattnworb commented on #43
@danielnorberg in case you missed it I attached a test case in my original report up top.

[2015-04-02 05:44] danielnorberg opened #47 "IntegrationTest#testPartitionMultiget is flaky"
Seems like jmemcached might be flaky. Most test runs complete successfully but when it fails, the root cause seems to be an `IndexOutOfBoundsException` in jmemcached.

[code]

[2015-04-02 05:46] danielnorberg commented on #47
This seems to affect the ascii implementation only.

It could be argued that folsom should handle `ERROR` results better as well.

[code]

`ERROR` should perhaps not be an unexpected line.

[2015-04-02 06:53] danielnorberg commented on #47
We're not the only ones hitting this.

https://code.google.com/p/jmemcache-daemon/issues/detail?id=32

Unfortunately this project does not seem to be actively maintained, so it seems unlikely that we'll see this issue addressed.

[2015-04-02 07:00] spkrka commented on #47
We can export jmemcache-daemon to github and fork it? Either by asking for permission to adopt it or by changing the namespace.

[2015-04-02 07:13] danielnorberg commented on #47
Sure, but I'd like to avoid investing any more time and resources into jmemcached. This seems to be just one issue out of many. If forking it onto github would be something we do only to fix the folsom tests, then I'm happy with this hack.

But if there was some other engineer with a lot of time on his/her hands... ;)

[2015-04-07 07:31] spkrka commented on #47
Can we consider this fixed now with the monkey patch in place?
I also exported jmemcached here: https://github.com/krka/jmemcache-daemon/ - maybe can clean up the monkey patch at least by changing the package names and making a release.

[2015-04-07 07:32] spkrka commented on #43
Release 0.6.2 should be out now and fix this issue.

[2015-04-08 01:19] linux-china opened #49 "Any idea to implement jsr 107?"
JSR 107 is a specification for java cache, and the site is https://github.com/jsr107.  Could your guys implement this jsr specification for convenient api usage?

[2015-04-08 06:13] danielnorberg commented on #49
I believe JSR 107 might be outside the scope of folsom and seeing as it's currently missing e.g. async, we're unlikely to use JSR 107 ourselves. But a JSR 107 implementation could likely be built on top of folsom if desired.

[2015-04-08 12:51] linux-china commented on #49
@danielnorberg  yes, you are right. JSR 107 will implement the async feature in its api.   An adapter for JSR 107 built on top folsom is a good idea, maybe folsom-jsr107.  I have implemented  JSR 107 feature for another memcached client, and I will take a look at the folsom's api and implement folsom-jsr107 adapter.

[2015-04-08 12:59] spkrka commented on #49
I agree with @danielnorberg

JSR-107 is not important enough to put into core folsom, but someone else can of course create a wrapper project.

Some notes:
- Cache is Iterable, and iterating keys is not something that is supported by memcached.
- It does seem to have some async functionality (get with collector)

[2015-05-26 13:21] spkrka commented on #34
I think there may be a bug related to sending too large SET requests - it seems like the connection state itself can get corrupted and failing all subsequent requests with SERVER_ERROR

[2015-05-26 13:33] danielnorberg commented on #34
Is this issue reproducible?

[2015-05-26 14:20] spkrka commented on #34
I haven't tried yet, but I plan to attempt to reproduce it soon (hopefully with a unit test) unless someone beats me to it.

The fix should be simple - enforce a maximum value size.

[2015-05-26 23:26] #47 closed, assigned to nobody

[2015-05-26 23:26] danielnorberg commented on #43
Can this issue be closed?

[2015-05-27 00:17] mattnworb commented on #43
Yep, I think #43 tests the same condition that I tried to reproduce in the test attached to this issue. Thanks

[2015-05-27 00:17] #43 closed, assigned to nobody

[2015-05-29 07:59] #34 closed, assigned to nobody

[2015-06-10 22:17] danielnorberg opened #54 "Target Java 8 and s/ListenableFuture/CompletableFuture/g EOM"

[2015-06-11 09:13] spkrka commented on #54
:-1: Perhaps in the future when folsom has stabilized more and java8 is more widely adopted. I don't want to break java 7 support just quite yet.

Also, I am not sure I like CompletableFuture as much as ListenableFuture.
I agree with the list of shortcomings here: http://www.nurkiewicz.com/2013/05/java-8-completablefuture-in-action.html (except the second one, there is a CompletionStage interface)

[2015-06-11 11:01] danielnorberg commented on #54
Yeah, didn't necessarily mean that we should do this asap, but rather just get a discussion going.

My guess is that in the future CompletableFuture usage is going to be quite wide-spread and people might not be pulling in guava as much to get ListenableFuture.

Guava can be a significant dependency burden for users as its releases are often not fully backwards compatible. We've seen breakage due

[2015-06-11 11:51] spkrka commented on #54
Agreed. This probably (with a strong probably) makes sense at some point in the future.

[2015-07-01 11:24] flozano commented on #54
+1 on this (hate that github has no "vote"). In the meantime I will do a wrapper using https://github.com/lukas-krecan/future-converter

[2016-01-27 20:44] flozano opened #59 "Project status?"
Hi there,

What is the status of this project? It looks great but it seems there's very low activity on it... do you plan to keep developing it, or is it in "bugfix" mode now? any roadmap?

[2016-01-27 21:28] protocol7 commented on #59
@flozano Folsom is heavily used within Spotify so in that sense we'll continue maintaining it, including adding whatever features we need. We of course also welcome external contributions. We don't have a roadmap of features that we're planning on adding, rather they happen on a as-needed basis.

[2016-01-27 21:45] flozano commented on #59
Thanks for the feedback, that makes me more comfortable about using it seriously.

[2016-01-28 08:33] spkrka commented on #59
@protocol7 is pretty much spot on. It is used heavily internally at Spotify, but we haven't had any problems lately and no one has requested any additional features so activity has been low.

I would be very happy to see some external contributions in the form of pull requests, feature requests or bug reports (or other types i haven't even considered)!

[2016-02-26 22:25] odsod opened #60 "Binary client throws IllegalStateException on retries?"
Example stack trace:

[code]

[2016-03-16 15:27] eranharel opened #62 "SrvKetamaClient doesn't shutdown the old client after DNS update"
There's a bug in com.spotify.folsom.ketama.SrvKetamaClient#setPendingClient() which prevents the old client from being shutdown correctly.
The code keeps track of the `oldPending`, but it always gets a value that got nullified at the new client connect future callback (line 207).

So when a new list of target host:port pairs is detected the client connects to the new targets correctly, but doesn't

[2016-03-16 19:32] eranharel commented on #62
Correction. I missed the scheduled shutdown which only happens after 60 sec, so I didn't see it in my tests :P

The code in lines 218-221 should probably be removed though, but I'm closing this ticket.

[2016-03-16 19:32] #62 closed, assigned to nobody

[2016-05-17 13:42] eranharel opened #63 "Client seems to be leaking connections after timeouts calling a non responsive memcached server"
We had a temporary faulty production memcached server which caused a few hundreds of request timeouts. When this happened the client did reconnect, but the old connections seem to remain open, and never got closed.

I have managed to recreate this behaviour using a stand-alone test.

I start 2 nodes like so:

[code]

I register them in consul so the DnsSrvResolver will pick them up. I omitted this

[2016-05-19 07:06] spkrka commented on #63
Thank you for the report! I don't have much time to look into in detail right now, but I'd like to understand more about why the connections aren't closed before adding bandaids (hopefully the underlying bug can be fixed instead).

Is this a minimal test? I don't quite understand why you need two memcached instances. I guess you moving the servers to the background will timeout requests to the mem

[2016-05-30 18:31] eranharel commented on #63
Sorry for the late response, I wanted to have something useful to add to this report...

It turns out my initial test doesn't recreate the bug :(
I tested it with the previous folsom version by mistake. Once I upgraded the test doesn't recreate the bug.

How ever, in production I see a growing number of `com.spotify.folsom.client.DefaultRawMemcacheClient` instances when the connection count increa

[2016-09-22 18:17] flozano opened #64 "Support for 'flush_all'"
It would be great if this command was supported.

[2016-09-28 11:03] flozano opened #65 "Question - is it possible that the returned Future from a write is completed successfully before the actual write happens?"
I have a cache abstraction layer in my project. This abstraction layer was implemented with xmemcached and now I'm porting it to use folsom. As part of it, I have tests that check the functionality:

[code]

cache() returns the instance of my abstracted client, which in case of folsom implements the setAsync operation as:

[code]

This test, however, randomly fails with Folsom: the assertNull fail

[2016-09-29 14:29] spkrka commented on #65
Thanks for the report.

The asynchronous set operation is supposed to return a future that completes once the memcache service responds.

To troubleshoot this further it would help to have more information:
1) Can you share a branch or repo with a minimal test case to reproduce this?
2) What kind of memcache service are you using to talk to? Is it possible that the problem is there?

Some prelimin

[2016-09-29 14:34] spkrka commented on #64
There is an existing pull request open for that: https://github.com/spotify/folsom/pull/26

I am not sure why we haven't merged that yet. Perhaps someone could investigate and rebase it at some point.

[2016-09-29 14:57] spkrka commented on #63
Interesting, I am not sure if that's a leak or if it's simply that the GC doesn't think it's important to collect them just yet.

[2016-12-12 14:12] flozano commented on #64
Any chance of this being revisited?

[2017-02-12 12:39] #63 closed, assigned to nobody

[2017-02-12 12:41] eranharel commented on #63
Closed as it turns out we were working with the 0.7.1 client, even though I was sure we worked with the latest...
Sorry if this wasted anyone's time :(

[2017-02-16 09:16] Addvilz opened #66 "Yammer metrics to Dropwizard?"
This lib has a dependency on Yammer metrics, which, as far as I know, are now Dropwizard metrics. Any chance this might get migrated?

[2017-02-16 14:46] mattnworb commented on #66
Should be pretty trivial to rewrite https://github.com/spotify/folsom/blob/master/src/main/java/com/spotify/folsom/client/YammerMetrics.java or create an implementation that uses the updated package/class names, as I think all the functionality is identical. With that said, since the metrics implementation is up to you as a user to use or supply, you could already use another package (like the dro

[2017-02-16 16:27] Addvilz commented on #66
@mattnworb another might-be-an-issue is that metrics is not an optional dependency. Somewhat pollutes the dependencies then.

[2017-02-21 12:33] #66 closed, assigned to nobody

[2017-02-21 13:31] Addvilz commented on #66
We encountered couple of more issues with dependencies (for example, we use Guava 21), so we forked and fixed things around.

https://github.com/mobilecashout/folsom/commit/8c533002434a881cf5de7e6d49609556d0927c5c

If this looks like something you are willing to have, I can branch out and prepare a proper PR, but for now, we had to hurry :)

[2017-03-14 14:11] jvaleo opened #67 "DefaultRawMemcacheClient logs error but does now throw"
Whenever there is a timeout an error is logged but there is not exception thrown. This means that the caller can't catch anything and do something else. The use case for us is to catch a timeout exception, throw a custom timeout exception our framework provides which ticks metrics, logs, et cetera. This is what we do for all clients we use (Cassandra, RPC, et cetera).

If you're OK with this chang

[2017-03-21 23:04] AlexPayment opened #68 "Close connections after DNS update"
Hi,

Looking at both `SrvKetamaClient` and `SrvKetamaClientTest` and it looks like`updateDNS` only does additive changes. I mean, if the DNS returns a different list of hosts, the connection to the previous hosts will be maintained until the connections get severed by the hosts.

Is this right? If not, will it be possible to close the connections to the previous hosts when this occurs?

[2017-03-21 23:18] AlexPayment commented on #68
I think I misread `SrvKetamaClientTest`. You do check that connections are closed after the DNS update. Though, what's the expected behavior when the DNS resolver returns an empty list?

[2017-03-27 16:54] jvaleo commented on #67
(Ping)

[2017-03-27 19:55] danielnorberg commented on #67
@jvaleo Looks like all outstanding request futures will be failed when the channel is closed on timeout:

https://github.com/spotify/folsom/blob/master/src/main/java/com/spotify/folsom/client/DefaultRawMemcacheClient.java#L319

Are you seeing futures not failing on timeout?

[2017-04-13 19:57] jvaleo commented on #67
@danielnorberg  So the issue is that an error is logged every time the client times out, but it's difficult to take an action on those timeouts (vs another exception) because all client exceptions cause outstanding futures to throw the same exception type (with a different message). We want to monitor or take a specific action on a timeout and its not ideal to have to catch the MemcacheClosedExcep

[2017-04-20 06:06] danielnorberg commented on #67
@jvaleo Right, that sounds useful.

[2017-04-24 16:24] jvaleo commented on #67
@danielnorberg  Is that something we can just PR?

[2017-04-24 17:38] protocol7 commented on #67
@jvaleo Feel free to push a PR and we'll happily review it

[2017-05-03 23:55] mniebla commented on #67
Something I was interested too...so I took a crack at it, here you go: https://github.com/spotify/folsom/pull/71

[2017-08-21 12:30] spkrka commented on #68
When the DNS is updated to a new set of hosts, it will try to connect to all the hosts in the new list.
Once it has successfully connected to the new hosts, it will schedule a job to clean up the old connections.

If the DNS list is empty that could be a problem, but it would be the same case as if you restarted the application and thus the SrvKetamaClient without any hosts.

I am not sure if it's

[2017-08-21 12:32] spkrka commented on #64
Yes, I'll see when I have time to implement it.

[2017-08-22 06:11] pettermahlen commented on #68
FWIW, we've seen and guarded against glitchy DNS occasionally returning empty lists of hosts for some queries in the Spotify backend. See **https://github.com/spotify/dns-java/blob/master/src/main/java/com/spotify/dns/RetainingDnsSrvResolver.java**

[2017-09-08 07:52] #59 closed, assigned to nobody

[2017-09-08 07:53] #49 closed, assigned to nobody

[2017-09-08 07:54] spkrka commented on #60
Should be fixed with #61 - please re-open if you get it again.

[2017-09-08 07:54] #60 closed, assigned to nobody

[2017-12-14 13:20] jludvice opened #81 "Fix validation of max key size to work with InnoDB Memcached"
Hi Folsom developers,

could you please consider changing validation of max key length in folsom from 250 to 249?

Everything works fine with Memcached where their validation looks like this:
https://github.com/memcached/memcached/blob/master/memcached.c

[code]

But there is issue with MySQL InnoDB Memcached, where they are off by one.
https://github.com/mysql/mysql-server/blob/5.7/plugin/innodb_

[2017-12-15 13:31] jludvice commented on #81
This should be resolved by #83, right @protocol7 ?
Do you plan to cut new release any time soon?

[2017-12-15 13:41] protocol7 commented on #81
@jludvice Yeah, this should be solved by #83, could you verify that that is the case for you and we'll push a release :)

[2017-12-15 14:08] jludvice commented on #81
Thank you @protocol7. I think it's fine for us, but let me please double check and confirm next week.
Have a nice weekend :)

[2017-12-18 12:35] jludvice commented on #81
Hi @protocol7, just verified that #83 worked fine.

+1 for resolving this issue

[2018-01-02 15:44] mattnworb opened #87 "Code coverage reporting / coveralls broken since moving to Java 8"
Looking at https://coveralls.io/github/spotify/folsom , the coverage graph shows all 0s since #84 was merged:

![image](https://user-images.githubusercontent.com/113840/34489254-9b1234a0-efa9-11e7-90b9-cf987a6338d3.png)

This is because cobertura fails to instrument classes at runtime with exceptions like this in the Travis build:

[code]

which leads to the coveralls plugin seeing 0 lines of code

[2018-01-17 12:25] #81 closed, assigned to nobody

[2018-06-14 04:01] manikantag opened #90 "Client lifetime, usage in Vert.x app"
Hi,

I've few questions about the usage:

1. _Quoting from README:_

    Can't we create a long lived client, like Memcached suggest? I mean, is is ok if I create client once and use it throughout the app lifetime? What does '**Clients are single use**' means?

2. I want to use this client in vert.x based app and as this project also uses Netty, I thought this is a perfect fit. Have you aware of a

[2018-06-14 04:49] danielnorberg commented on #90
Single use here means that if you call `shutdown()` on a client you cannot use that instance any further, you have to create a new one.

It is fine to create a single client and use it throughout your app lifetime. Just don't call `shutdown()`.

I don't have any experience using this with vert.x, but apart from figuring out the dependencies I guess it should just work.

We have a lot of internal p

[2018-06-14 05:11] manikantag commented on #90
Thanks for the confirmation @danielnorberg

I hope the '_some time to come_' will be enough time for us to switch to different cache when needed. Also, I assume this library is mature enough as Spotify is using it a lot as you mentioned. Just out of curiosity, can I assume the stability is in similar lines of spymemcached lib?

[2018-06-14 09:18] spkrka commented on #90
Regarding the pending PR's, I just closed one of them that was most likely not needed due to other fixes instead.
#57 is probably too old and out of sync with master to merge (perhaps it's even fixed in another way, I don't remember)
#26 is definitely too old to merge - it should be remade with latest master if we want it.

We have not measured or compared stability with spymemcached, but we've su

[2018-06-14 09:36] manikantag commented on #90
@spkrka Make sense. Thanks for the clarifications.

[2018-06-15 06:23] #90 closed, assigned to nobody

[2018-09-04 20:40] morrifeldman opened #91 "Client failure after responding to too many requests where value is too large"
I ran into an issue in production where we started getting `MemcacheOverloadedException`s and the client was never able to reconnect.  In our use case we are perhaps abusing the client with 1 to 2 requests per minute to cache values that are too large and after a few days the client crashes.  I think I've tracked the problem to the code [here](https://github.com/spotify/folsom/blob/master/folsom/s

[2018-09-05 07:14] spkrka commented on #91
Thanks for the report and PR! We'll merge either that one or #93 soon.

[2018-09-05 13:59] spkrka commented on #91
Should be fixed in release 1.1.1 now.

[2018-09-12 15:15] thunderqy opened #96 "How can I connect a sasl memcached server via folsom"

[2018-09-13 06:59] spkrka commented on #96
This is actually something we are currently working on. I can't promise any time but it should hopefully be ready within 1-2 months. Notifying @bcleenders !

[2018-09-13 06:59] #91 closed, assigned to nobody

[2018-09-14 15:20] thunderqy commented on #96
thx for the answer... hope u r successful

[2018-10-09 14:11] spkrka commented on #96
This is now fixed with #101 - which will be released as 1.2.0 shortly.

[2018-10-09 14:11] spkrka commented on #64
Fixed with #101 - will be released as 1.2.0

[2018-10-09 18:05] spkrka commented on #65
Closing this since there hasn't been any updates. Please reopen if there's any new data

[2018-10-09 18:05] #65 closed, assigned to nobody

[2018-11-08 21:02] jsferrei opened #103 "file descriptor leak"
Version: 1.1.1, 1.2.0
We are noticing that AsciiMemcacheClient/ReconnectingClient is leaking file descriptors when a  memcached server is restarted (or stopped).
Can be reproduced with the following client config:
[code]
When memcached is restarted, the ReconnectingClient parent class will usually make about 5 or 6 attempts to reconnect to the server. In our case, we're seeing the fd count for the

[2018-11-09 10:11] spkrka commented on #103
I can confirm this bug. I added a test and a potential fix here: #104

As a workaround for now, you can call `MemcacheClientBuilder.withEventLoopGroup()` and pass in your own static event-loop-group to avoid the leak.

[2018-11-09 10:24] spkrka commented on #103
It seems like the bug was introduced in commit 056ad841701c13ecaad22a3520d2bc3c1705395c. Before that, we used a static EventLoopGroup.

That means that affected versions are 1.1.0, 1.1.1 and 1.2.0.

[2018-11-09 12:57] #96 closed, assigned to nobody

[2018-11-09 12:57] spkrka commented on #103
Fixed in release 1.2.1 - should be available soon.

[2018-11-09 12:57] #103 closed, assigned to nobody

[2018-11-13 08:36] #64 closed, assigned to nobody

[2019-01-04 15:28] guptakeshav24 opened #106 "Configurable number of connections to memcached server"
Currently in folsom number of connections are fixed. There should be a way to provide initial number of connections and max number of connections. Advantage of this feature is folsom will initially make some connections and then it will make more connections at runtime as and when required.

[2019-01-09 08:15] spkrka commented on #106
There is already `MemcacheClientBuilder.withConnections()` you can use to explicitly control number of connections per host. The default value is 1.

You can start by trying to increase that and see if you get any performance improvement - I am not sure there's enough value in having it be more dynamic though - and if so, what would be the conditions for increasing or decreasing number of connecti

[2019-02-06 08:45] flozano opened #112 "Binary client doesn't obey TTL in some cases"
I have a wrapper for the cache layer that enforces a TTL on sets. Under some conditions which we haven't identified (Folsom 1.2.1, Oracle JDK1.8  in all cases, memcached 1.4.15 in Linux and memcached 1.5.13 in Mac), we have identified that TTL doesn't work properly in binary protocol, but works perfectly as expected for same test if I change the connection line from `connectBinary` to `connectAsci

[2019-02-06 08:53] spkrka commented on #112
Thanks for the report! I will look into it.

[2019-02-06 09:02] spkrka commented on #112
To clarify - what kind of error do you see? Are entries expiring too late or too early?

[2019-02-06 09:06] flozano commented on #112
Entries not expiring at all - or maybe way too late for my tests to identify. My test just sets a key with a TTL, and expects a GET to that key to return `null` after the TTL passes (plus a substantial margin).

BTW I'm reproducing with pure folsom code also:
[code]
changing connection to `connectAscii` makes test pass, whereas `connectBinary` fails consistently here.

[2019-02-06 09:15] flozano commented on #112
Passing consistently on:
 - Ubuntu 18.04, Oracle JDK 1.8.0_201, Memcached 1.5.6
 - OS X 10.14.2, Oracle JDK 1.8.0_66 (Laptop 2), Memcached 1.5.8 and 1.5.12

Failing consistently on:
 - OS X 10.14.2, Oracle JDK 1.8.0_181 (Laptop 1), Memcached 1.5.12

Randomly failing/passing on:
 - AWS Linux 4.14.77-70.82.amzn1.x86_64, Oracle JDK 1.8.0_162, Memcached 1.4.15

[2019-02-06 09:17] spkrka commented on #112
I could reproduce it by changing the memcached version, see:
https://github.com/spotify/folsom/pull/113

It looks more like a regression in memcached itself than a problem in folsom.

[2019-02-06 09:22] flozano commented on #112
I see. It's possible, but it seems to fail too in 1.4.15 randomly... that's why we initially discarded memcache version (1.4.15+Linux failing sometimes, 1.5.6+Linux passing, 1.5.12+Mac failing).

[2019-02-06 09:27] spkrka commented on #112
Testing with more versions of memcached, it seems to depend more on type of image than version. Fails on ol-7 but works on debian / regular builds.

According to specification:
[code]

A workaround from our side could be to always send it as a unix timestamp if possible (carefully trying to avoid the year 2038 problem)

[2019-02-06 09:31] flozano commented on #112
I see. Thanks for the input. I'll move all my code to use timestamps instead.

[2019-02-06 09:36] flozano commented on #112
Actually in the binary version of the `SetRequest` command, this is done:
[code]
so timestamps are already in-use...

BTW I'm not sure this code is correct either:
[code]
as it doesn't take into account if the provided "ttl" is already a timestamp.

(ASCII version uses TTL as-is, whereas binary enforces passing of TTL. I think the ttlToExpiration should check if the provided ttl is already above 6

[2019-02-06 09:47] flozano commented on #112
With ASCII and timestamps obtained thru `Utils.tottlToExpiration` it also fails...

[2019-02-06 09:57] spkrka commented on #112
Good catch! I'll take a look at that.

[2019-02-06 10:05] spkrka commented on #112
The provided ttl should not be a timestamp - we could extend the API to be more explicit, like adding `.set(key, value, instant)` or `.set(key, value, duration)`

[2019-02-06 10:34] spkrka commented on #112
Does this change make sense to start with? Do you think it would solve your issues?
https://github.com/spotify/folsom/pull/114

[2019-02-06 12:08] spkrka commented on #112
Partially solved in release 1.3.0.

[2019-02-12 22:50] alexeyOnGitHub opened #119 "ReconnectingClient prints "Lost connection" for old nodes when another one is added - while requests go through just fine"
I assume this is just a logging issue rather than a bug affecting client behavior.
I see this regularly -

say, I boot up 2 Memcached nodes: A and B. they are used by several app nodes (3 in my latest fault+perf test).
the total traffic sent to Memcached from these app nodes is 3000 RPS.
then I boot up one more Memcached node (C)  and bring it into Load Balancer.
we use 3 seconds Dns refresh perio

[2019-02-13 08:29] spkrka commented on #119
Thanks for the report! It sounds it's possible that the old clients are still trying to reconnect. I'll investigate it further.

[2019-02-13 11:15] spkrka commented on #119
Actually... looks like this is intentional. When reconnecting, there's a 60 second shutdown delay by default: https://github.com/spotify/folsom/blob/master/folsom/src/main/java/com/spotify/folsom/ketama/SrvKetamaClient.java#L206

You can reconfigure the shutdown delay if you want.

[2019-02-13 18:00] alexeyOnGitHub commented on #119
right, my point is specifically about the log message.
I was thinking maybe the log message could be changed to make it explicit that the connection was not suddenly lost, but it was due to the planned shutdown. e.g. check `if (shutdown) ... ` and then print different messages depending on whether it is a sudden connection loss vs. planned shutdown.

the message is somewhat confusing and scary oth

[2019-02-13 18:42] spkrka commented on #119
I'll look into how much work it would be to introduce pending shutdowns and silence the logs for those.

[2019-02-14 13:56] spkrka opened #121 "Remove or shade/hide guava dependency"
This would possibly reduce potential dependency problems.

[2019-02-28 19:28] spkrka commented on #106
Closing since it has not been updated in a while

[2019-02-28 19:28] #106 closed, assigned to nobody

[2019-02-28 19:29] spkrka commented on #68
There is now some protection against empty lists.

[2019-02-28 19:29] #68 closed, assigned to nobody

[2019-02-28 19:29] spkrka commented on #54
This has been resolved

[2019-02-28 19:29] #54 closed, assigned to nobody

[2019-03-14 22:23] mufumbo opened #127 "Reusable buffers as parameter for getters"
Hi,

It would be great to be able to pass custom byte[] buffers as parameters for the GET and SET methods. Using the byte[], offset and size as parameters.

Basic use case for SET:
1) I have already a buffer that converts Java objects to Kryo serialized objects using a byte[] buffer. (instead of creating new byte[] every time and destroying the GC)
2) Then I use this buffer (with offsets) to compr

[2019-03-15 08:48] krka commented on #127
Reducing memory allocation footprint is always nice - we could do some basic investigation to see what we can get done.

Getting it down to no allocation per request seems unfeasible, and netty does some allocation of its own, as well as doing its own buffer management. Perhaps we can reuse some of that to minimize unnecessary copies.

Doing this, we also need to make sure we don't overly complect

[2019-05-01 11:07] shahar-fleischman opened #130 "Support for incr/decr commands"
Hi,

Is there a way to use counters with the client ?

Thanks.

[2019-05-01 11:29] shahar-fleischman commented on #130
I see that there is a support for it.
Please ignore.

[2019-05-01 11:29] #130 closed, assigned to nobody

[2019-05-21 17:42] alexeyOnGitHub opened #132 "let's add docs how to run build and tests locally? (Docker container)"
the build fails on my computer due to some configuration required for Docker container.:

if the build requires some initial setup on a local computer or a Jenkins node, let's add a short snippet about this to the docs?

[2019-05-24 17:07] spkrka commented on #132
That's a good idea! I'll try to make that happen

[2019-05-27 07:03] #132 closed, assigned to nobody

[2019-06-13 19:26] dmichel1 opened #134 "Add tracing"
It would be awesome if folsom was wired up with [OpenCensus](https://github.com/census-instrumentation/opencensus-java) tracing to allow for spans to be automatically created when memcached calls are being made.

[2019-06-13 20:28] protocol7 commented on #134
Timing could not have been more perfect. I've been working on this today, hope to have a PR ready for tomorrow.

[2019-06-15 12:24] protocol7 commented on #134
PR ready #136

[2020-07-10 05:09] rschildmeijer opened #154 "Feature request: per node telemetry"
To better detect when one memcache node is misbehaving.
Metrics like outstanding request and latencies (per memcache node) would be a good start

[2020-08-08 16:22] Robson96 opened #156 "Exceptions with java 11"
executes and returns the value successfully, but it throws several exceptions!!

Here is log.

/home/scala/.sdkman/candidates/java/11.0.8.j9-adpt/bin/java -javaagent:/snap/intellij-idea-community/246/lib/idea_rt.jar=38149:/snap/intellij-idea-community/246/bin -Dfile.encoding=UTF-8 -classpath /home/scala/Documentos/memcached-falson/target/classes:/home/scala/.m2/repository/com/spotify/folsom/1.7.3/

[2020-08-10 06:56] spkrka commented on #156
It looks like this is debug logging from netty. If you want to get rid of these messages you can change the log level to INFO instead of DEBUG

[2020-12-06 13:40] ayoukhananov commented on #121
@spkrka Any progress ?

[2020-12-07 14:02] spkrka commented on #121
No, sorry. Looks like you have implemented this shading in your fork - you could perhaps submit a PR here with the same shading configuration?

[2020-12-07 15:24] ayoukhananov commented on #121
Ok, I will submit a PR on it .

[2020-12-10 11:10] ayoukhananov commented on #121
@spkrka Please review : https://github.com/spotify/folsom/pull/161

[2021-08-08 03:30] #156 closed, assigned to nobody

[2021-11-16 12:13] CallMeSweets opened #188 "Folsom - Spring Boot DevTools class loader"
Hi,
When using the spring boot dev tools library the are some problems with class loaders, mainly:
![Screenshot from 2021-11-16 12-57-48 (1)](https://user-images.githubusercontent.com/38788273/141982256-e3c17801-1dd4-48f2-8d75-225d86a86150.png)

The problem is that there are two class loaders for dedicated class. When load the class from memcache and map/cast to object of class there is an excepti

[2021-11-16 14:03] protocol7 commented on #188
Been looking at this, but not sure how it relates to Folsom. Folsom does not have any class named CachedResponse, so that class must come from other part of the code base.

Could you clarify what you mean by "load the class from memcache and map/cast to object of class"?

I'm not very familiar with RestartClassLoader, but Folsom does not do anything special with respect to class loading, so should

[2021-11-17 09:35] CallMeSweets commented on #188
Sorry, I did not present problem well.

A little explanation:
First case:
The spring boot dev tools lib is used to make hot-swap/hot reloading in java applications. That library has implemented the RestarClassLoader. That class loader is used for all classes in the classpath of project.

Second case:
The class with the name CachedResponse is my custom class which represents the stored data in Memc

[2021-11-17 09:55] protocol7 commented on #188
Thanks for elaborating, that's helpful. Yeah, I think this is not a problem with Folsom as such. You could investigate implementing a custom transcoder for Folsom that is aware of your classloaders, or try to make sure that Folsom is loaded in the same classloader as your class.

[2022-02-21 19:12] flozano commented on #65
I am afraid I missed this notification and never answered 🤦

As a reference, current versions of folsom don't reproduce the issue. The memcached service was just the then-current version memcached (hosted by AWS elasticache)

Thanks anyway and sorry again for missing the answer.

[2022-02-21 19:14] flozano opened #193 "Release notes or CHANGELOG"
First of all,  thanks for maintaining this library.

I was wondering, there is no recent update of changelog file, and there are not released versions in github releases. Is there any place where I can see what's been changed, other than browsing git history?

[2022-02-28 18:00] spkrka commented on #193
Hello!

Thanks for bringing this to my attention. I have now updated the changelog to reflect the recent changes.

[2022-02-28 18:00] #193 closed, assigned to nobody

[2022-03-31 21:58] jreilly650 opened #198 "Extending MemcacheClientBuilder to more easily allow other AbstractMultiMemcacheClient impl"
Hi,
I am currently looking at using folsom.  One thing I want to do it to implement my own sharding (to match existing impl).  To do this, I was planning to implement a class extending `AbstractMultiMemcacheClient` similar to `KetamaMemcacheClient`.

Initially I was planning to extend `MemcacheClientBuilder`, noticing that the `MemcacheClientBuilder.connectRaw` method is protected, however on clos

[2022-04-07 12:32] spkrka commented on #198
Thanks for the issue!

For me it would be easiest to think about this once the PR is prepared for review. It sounds reasonable to me now, but perhaps there is some detail that makes it preferable to do it in some other way.

I think in general it seems useful to think of MemcacheClientBuilder is a convenience structure, but it should be possible to set up the client in a more customized way. Exact

[2022-04-13 04:14] jreilly650 commented on #198
Yeah, that makes sense. I'll put together a PR as soon as I can.

Cheers!

[2022-08-15 13:40] azagorneanu commented on #40
@spkrka @protocol7 I'm trying to migrate from another memcached library to Folsom and I'm also missing this feature. I need to be able to customize the call to `Continuum.findClient(byte[] key)`.

For example I want to customize so that all the keys that start with some common prefix go to the same node:
* `prefix1-sufix1` key - goes to node 1
* `prefix1-sufix2` key - goes to node 1
* `prefix2-suf

[2022-08-17 10:58] azagorneanu commented on #40
Some kind of `SessionLocator` or `NodeLocator` abstractization would be nice to have. Then we can provide custom implementations or extend/reuse the existing ones(e.g. `KetamaSessionLocator`).

[2022-08-17 11:19] protocol7 commented on #40
@azagorneanu I never got around to finishing up my branch, but I would still agree that a node locator would be a nice abstraction to have pluggable. If you're up for proposing a PR, I would be happy to take a look.

[2022-08-17 12:33] spkrka commented on #40
I agree it would be useful. I tried playing around with adding something, but without having an explicit use case in mind it is harder, so I would also prefer having a proposal to review.

[2022-08-17 16:15] azagorneanu commented on #40
Cool! I will try to send a PR for review. Thanks.